PORT=Tu puerto deseado (por ejemplo, 3000)
NODE_ENV=development

SUPABASE_URL=Tu URL de Supabase (por ejemplo, https://erqccjztiworthuytgez.supabase.co)
SUPABASE_KEY=Tu clave de Supabase (por ejemplo, sb_publishable_qnODpnygymGcf6TY63cpDQ_6h5ZSJA-)

KEEP_ALIVE_NUMBER=Tu número de WhatsApp para mantener la sesión activa (por ejemplo, 580129341132)